<div class="catalogueContainer">

{{> big-mac}}
{{> infoLink}}
{{> backLink}}
{{> mobile-menu}}
<h1 class="pageBreadCrumb">+catalogue</h1>

<div id="artist-container">
  <div class="artists">
    {{#artists}}
      {{.}}</br>
    {{/artists}}
  </div>
</div>

<div id="pdfs-container">
  <ul class="pds">
  {{#catalogue}}
    <li><a class="pdf" href= 'http://{{{ url }}}' target="_blank">{{fileName}}</a></li>
  {{/catalogue}}
  </ul>
</div>

  <img id="catalogue-line-blue" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-blue.svg">
  <img id="catalogue-line-green" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-green.svg">

  <div id="video-container">
    {{#video}}
    <video onmouseover="pause()" onmouseleave="play()" autoplay loop controls>
      <source src='https:{{url}}' type='{{contentType}}'>
    </video>
    {{/video}}
  </div>

</div>



<!-- <img class="artistbackground" src="/assets/mobile/artist-list-mobile.svg"> -->
