{{> big-mac}}
{{> infoLink}}
{{> backLink}}
<div id="artist-container">

  <div class="artists">
  {{#artists}}
  <p>{{.}}</p>
  {{/artists}}
  </div>

</div>

<img id="catalogue-line-green" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-green.svg">


<div id="pdfs-container">
  <ul class="pds">
  {{#catalogue}}
    <li><a class="pdf" href= 'http://{{{ url }}}' target="_blank">{{fileName}}</a></li>
  {{/catalogue}}
  </ul>
</div>

  <img id="catalogue-line-blue" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-blue.svg">


  <div id="video-container">
    <div id="video">
    {{#video}}
    <video height="163.5" width="283.6" onmouseover="pause()" onmouseleave="play()" autoplay controls>
      <source src='https:{{url}}' type='{{contentType}}'>
    </video>
    {{/video}}
    </div>
  </div>


  <!-- age-of-objectificati {
 	width: 460px;
 	height: 1011px;
 	font-family: TimesNewRomanPSMT;
 	font-size: 30px;
 	font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
 	line-height: normal;
 	letter-spacing: -1.9px;
 	text-align: left;
 	color: #222222;
 }

 .age-of-objectificati .text-style-1 {
 	color: #ff4819;
 } -->
