{{> big-mac}}
{{> side-menu}}
{{> testdriveLogo}}

<div id="catalogue-artists-purple">
  {{#artists}}
  <p>{{.}}</p>
  {{/artists}}

  <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-artists-purple.svg">

</div>

<img id="catalogue-line-green" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-green.svg">


<div id="catalogue-line-blue">
  <img src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-pdfbox-red-gradient.svg">
  {{#catalogue}}
  <a href= `{{url}}` target="_blank"><p>{{fileName}}</p><a>
    {{/catalogue}}
</div>

  <img id="catalogue-line-blue" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-line-blue.svg">


  <div class="video-container">
    {{#video}}
    <video class='video' height="240" width="400" onmouseover="pause()" onmouseleave="play()" autoplay controls>
      <source src='https:{{url}}' type='{{contentType}}'>
    </video>
    {{/video}}
    <img id="catalogue-video-grey" src="/assets/Elements/DriveDrive/Catalogue/DD-Catalogue-video-grey.svg">
  </div>
