{{> big-mac}} {{> infoLink}} {{>backLink}}

<div id="eve-disp">
  <p>+events</p>
</div>

<div class="events-menu">
  <div class="eventList" id="ddEventsList">
    {{#eventList}}
      <div class="eventDetails">
        <div>
          <p>{{eventDate}} <br>
          {{eventTitle}}</p>
        </div>
      </div>
    {{/eventList}}
  </div>
  <div class="eventsInfoBox" id="ddEventsInfobox">
    {{#eventList}}
      <div class='eventInfo'>
        <h1 class="ddevent-top-title">{{eventTitle}}</h1>
        {{#eventContent}}
          <br></br>
          <img class="events-img" src= {{image}} alt="event image">
          <p>{{imageDescrip}}</p>
        {{/eventContent}}
        {{{eventInfo}}}
      </div>
    {{/eventList}}
  </div>
</div>
