{{> big-mac}} {{> infoLink}} {{>backLink}}

<div class="eventList" id="ddEventsList">
    {{#eventList}}
    <div class="eventDetails">
        <p class= {{eventClassName}}>{{eventTitle}}</p>
    </div>
    {{/eventList}}
</div>

<div class="eventsInfoBox" id="ddEventsInfobox">
  {{#eventList}}
    <div class= {{eventClassName}}>
      {{#eventContent}}
      <img src={{image}} alt="">
        <p>{{imageDescrip}}</p>
      {{/eventContent}}
    </div>
  {{/eventList}}
  </div>
