{{> big-mac}} {{> infoLink}} {{>backLink}}


<div class="events-menu">
  <div class="eventList" id="ddEventsList">
    {{#eventList}}
      <div class="eventDetails">
        <p>{{eventDate}}</p>
        <p>{{eventTitle}}</p>
      </div>
    {{/eventList}}
  </div>
  <div class="eventsInfoBox" id="ddEventsInfobox">
    {{#eventList}}
      <div class='eventInfo'>
        {{#eventContent}}
          <img src= {{image}} alt="">
          <p>{{imageDescrip}}</p>
        {{/eventContent}}
        {{{eventInfo}}}
      </div>
    {{/eventList}}
  </div>
</div>
