<div class="eventsContainer">
{{> big-mac}} {{> infoLink}} {{>backLink}}{{> mobile-menu}}

<h1 class="pageBreadCrumb">+events</h1>


    <div class="eventList" id="ddEventsList">
      {{#eventList}}
        <div class="eventDetails">
            <p class="eventsDetailDate" >{{eventDate}}</p>
            <p class="eventsDetailTitle">{{eventTitle}}</p>
        </div>
      {{/eventList}}
    </div>

    <div class="eventsInfoBox" id="ddEventsInfobox">
      {{#eventList}}
        <div class='eventInfo'>
          <h1 class="ddevent-top-title">{{eventTitle}}</h1>
          {{#eventContent}}
            <br></br>
            <img class="events-img" src= {{image}} alt="event image">
            <p>{{imageDescrip}}</p>
          {{/eventContent}}
          {{{eventInfo}}}
        </div>
      {{/eventList}}
    </div>

</div>
