{{> side-menu}}



<div class="eventList" id="tdEventsList">
  {{#eventList}}
  <div class="eventDetails">
      <p class= {{eventClassName}}>{{eventTitle}}</p>
  </div>
  {{/eventList}}
</div>

<div class="eventsInfoBox" id="tdEventsInfobox">
{{#eventList}}
  <div class= {{eventClassName}}>
    {{#eventContent}}
    <img src={{image}} alt="">
      <p>{{imageDescrip}}</p>
    {{/eventContent}}
  </div>
{{/eventList}}
</div>
