{{> backLink}} {{> infoLink}} {{> big-mac}}

<div class="events-menu">
  <div class="eventList" id="tdEventsList">
    {{#eventList}}
      <div class="eventDetails">
        <div>
          <p>{{eventDate}}</p>
          <p>{{eventTitle}}</p>
        </div>
      </div>
    {{/eventList}}
  </div>
  <div class="eventsInfoBox" id="tdEventsInfobox">
    {{#eventList}}
      <div class='eventInfo'>
        <h1 class="event-top-title">{{eventTitle}}</h1>
        {{#eventContent}}
          <br></br>
          <img class="events-img" src= {{image}} alt="">
          <p>{{imageDescrip}}</p>
        {{/eventContent}}
        {{{eventInfo}}}
      </div>
    {{/eventList}}
  </div>
</div>

<a  href="/testdrive"><img id="testdriveLogoTL" src="/assets/Logo-SVG/Testdrive.svg"></a>
