{{>testdriveInfoTL}} {{> backLink}}
{{> infoLink}} {{> big-mac}}

<div class="events-menu">
  <div class="eventList" id="tdEventsList">
    {{#eventList}}
      <div class="eventDetails">
        <div>
          <p>{{eventDate}}</p>
          <p>{{eventTitle}}</p>
        </div>
      </div>
    {{/eventList}}
  </div>
  <div class="eventsInfoBox" id="tdEventsInfobox">
    {{#eventList}}
    <div class='eventInfo'>
        {{#eventContent}}
          <img src= {{image}} alt="">
          <p>{{imageDescrip}}</p>
        {{/eventContent}}
        {{{eventInfo}}}
      </div>
    {{/eventList}}
  </div>
</div>
